

:root {
  --background-color:#3b4664;
  --main-color: #252d44;
  --tab-color:#eae3db;
  --reset-del-color:#647299;
  --reste-del-shadow:#424e74;
  --equal-color:#d13f30;
  --equal-shadow:#8f2316;
  --text-color:#252d44;
  --text-btn:#4b4f5b;
  --contrast-color:#ffffff;
  --bg-screen:#181f32;
  }
*{
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: var(--background-color);
  display: flex;
  align-items: center;
  font-weight:700;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 540px;
  height: 720px;
  background: var(--background-color);
  padding: 30px;
  border-radius: 8px;
  margin:auto;
}

.header {
  background:var(--background-color);
  display: flex;
  flex-wrap: nowrap;
  margin:30px 5px;
  justify-content: space-between;
  &-logo {
    display: flex;
    justify-content: start;
    font-size: large;
    color:var(--contrast-color);
    font-size:2rem;
  }
  &-left {
    display: flex;
    justify-content: end;
    padding:0px;
    color:var(--contrast-color);
    position: relative;
    &-title {
      flex-direction: row;
      align-content: end;
      font-size: smaller;
      margin:10px 25px;
    }
  }

  &-selectors {
    display:inline-flex;
    align-content: flex-end;
    width:auto;
    border-radius:50px;
    background: var(--main-color);
    .radio-item {
    display: inline-block;
    position: relative;
    padding:0 5px;
      input[type='radio'] {
        display: none;
      }
      label:before {
        content: "";
        display: inline-block;
        position: relative;
        top: 4px;
        margin: 5px ;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: transparent;
      }
      input[type=radio]:checked + label:after {
        border-radius: 15px;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 6px;
        left: 5px;
        content: " ";
        display: block;
        background: var(--equal-color);
        transition: position ease-in-out 0.5s;
      }
    }
  }
  &-themes{
    position:absolute;
    right: 0;
    top: -23px;
    width: 125px;
    display:flex;
    justify-content: space-around;
  }
  &-theme {
    color:var(--contrast-color);
    text-align: center;
  }
}

input.screen {
  border: 0;
  border-radius:10px;
  display: flex;
  width: 100%;
  margin-bottom:25px;
  padding-top:35px;
  padding-bottom:30px;
  height: 130px;
  font-weight: 700;
  text-align: end;
  font-size: 4rem;
  background: var(--bg-screen);
  color: var(--contrast-color);
  &:focus{
    outline: none;
  }
  &::placeholder{
    margin: 10px;
    color: var(--contrast-color);
  }
}

.keyboard {
  display: grid;
  grid : 80px  / 1fr;
  height: 480px;
  width: 90%;
  border-radius: 10px;
  background: var(--main-color);
  grid-gap:20px;
  justify-content: space-evenly;
  padding:25px;
  /*&-row:first-child{
    margin-top:15px;
  }/*&:nth-child(2)*/
  /*&-row:last-child
    margin-bottom:15px;*/
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  &-row{
    width: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    &:last-child{
      grid-template-columns: 1fr 1fr;
      grid-gap:inherit;
    }
  }

  &-btn {
    background:var(--tab-color);
    border-radius: 9px;
    width: 100%;
    height: 70px;
    font-size:32px;
    color:var(--text-btn);
    font-weight: 700;
    box-shadow: inset 0px -4px 0px 0px rgb(145, 145, 145);
    &__blue {
      background:var(--reset-del-color);
      color: var(--contrast-color);
      font-weight:600;
      font-size:25px;
      box-shadow: inset 0px -4px 0px 0px var(--reste-del-shadow);
    }
    &__red {
      background:var(--equal-color);
      color: var(--contrast-color);
      font-size:30px;
      box-shadow: inset 0px -4px 0px 0px var(--equal-shadow);
    }
    &__double {  
      width:230px;
      display: grid;
      font-weight:600;
      font-size:25px;
      text-align:center;
      justify-content:center;
      padding-top: 20px;
    }
  }
}